{{#if resume.certificates.length}}
<section class="section">
  <header>
    <h2 class='section-title'>Certificates <span class="item-count">({{resume.certificates.length}})</span></h2>
  </header>

  <section id="certificates">
    {{#each resume.certificates}}
    <section class="education-item">
      
      <header class="clear">
        <div class="header-left">
          {{#if name}}
          <div class="area">
            {{name}}
          </div>
          {{/if}}
          {{#if issuer}}
          <div class="institution">
            {{issuer}}
          </div>
          {{/if}}
          {{#if date}}
          <div class="date">
            <span class="endDate">{{MY date}}</span>
          </div>
          {{/if}}
        </div>
      </header>

      {{#if url}}
    	<span class="summary">
    		<a target="_blank" href="{{url}}">verification link</a>
    	</span>
      {{/if}}
        
    </section>
    {{/each}}
  </section>
</section>
{{/if}}
